In [1]:
import pandas as pd

In [3]:
exams = pd.read_csv('exams.csv')
exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

In [5]:
exams.info

<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
0      male        group A                 high school      standard
1    female        group D            some high school  free/reduced
2      male        group E                some college  free/reduced
3      male        group B                 high school      standard
4      male        group E          associate's degree      standard
..      ...            ...                         ...           ...
995    male        group C                 high school      standard
996    male        group D          associate's degree  free/reduced
997  female        group C            some high school  free/reduced
998  female        group C                some college      standard
999    male        group A                some college      standard

    test preparation course  math score  reading score  writing score
0                 completed          67             67             63
1                      none          40             59             55
2                      none          59             60             50
3                      none          77             78             68
4                 completed          78             73             68
..                      ...         ...            ...            ...
995                    none          73             70             65
996               completed          85             91             92
997                    none          32             35             41
998                    none          73             74             82
999               completed          65             60             62

[1000 rows x 8 columns]>

In [7]:
exams.describe().round(1)

       math score  reading score  writing score
count      1000.0         1000.0         1000.0
mean         66.4           69.0           67.7
std          15.4           14.7           15.6
min          13.0           27.0           23.0
25%          56.0           60.0           58.0
50%          66.5           70.0           68.0
75%          77.0           79.0           79.0
max         100.0          100.0          100.0

In [9]:
#transpose method, invert columns and indices, dat types may chenge when doing this
exams.transpose()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
gender,male,female,male,male,male,female,female,male,male,male,...,male,female,male,female,male,male,male,female,female,male
race/ethnicity,group A,group D,group E,group B,group E,group D,group A,group E,group D,group C,...,group D,group C,group C,group A,group E,group C,group D,group C,group C,group A
parental level of education,high school,some high school,some college,high school,associate's degree,high school,bachelor's degree,some college,high school,some college,...,some college,associate's degree,some college,associate's degree,high school,high school,associate's degree,some high school,some college,some college
lunch,standard,free/reduced,free/reduced,standard,standard,standard,standard,standard,standard,free/reduced,...,standard,standard,standard,standard,free/reduced,standard,free/reduced,free/reduced,standard,standard
test preparation course,completed,none,none,none,completed,none,none,completed,none,none,...,none,none,none,none,completed,none,completed,none,none,completed
math score,67,40,59,77,78,63,62,93,63,47,...,67,87,69,58,86,73,85,32,73,65
reading score,67,59,60,78,73,77,59,88,56,42,...,55,93,63,54,82,70,91,35,74,60
writing score,63,55,50,68,68,76,63,84,65,45,...,53,88,66,58,75,65,92,41,82,62

In [11]:
#shortcut to do this
exams.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
gender,male,female,male,male,male,female,female,male,male,male,...,male,female,male,female,male,male,male,female,female,male
race/ethnicity,group A,group D,group E,group B,group E,group D,group A,group E,group D,group C,...,group D,group C,group C,group A,group E,group C,group D,group C,group C,group A
parental level of education,high school,some high school,some college,high school,associate's degree,high school,bachelor's degree,some college,high school,some college,...,some college,associate's degree,some college,associate's degree,high school,high school,associate's degree,some high school,some college,some college
lunch,standard,free/reduced,free/reduced,standard,standard,standard,standard,standard,standard,free/reduced,...,standard,standard,standard,standard,free/reduced,standard,free/reduced,free/reduced,standard,standard
test preparation course,completed,none,none,none,completed,none,none,completed,none,none,...,none,none,none,none,completed,none,completed,none,none,completed
math score,67,40,59,77,78,63,62,93,63,47,...,67,87,69,58,86,73,85,32,73,65
reading score,67,59,60,78,73,77,59,88,56,42,...,55,93,63,54,82,70,91,35,74,60
writing score,63,55,50,68,68,76,63,84,65,45,...,53,88,66,58,75,65,92,41,82,62

In [15]:
#make columms indecies and indices columns
trans = exams.transpose()
trans.loc['gender']

0        male
1      female
2        male
3        male
4        male
        ...
995      male
996      male
997    female
998    female
999      male
Name: gender, Length: 1000, dtype: object