In [1]:
import pandas as pd

In [4]:
pokemons = pd.read_csv('Pokemon.csv')
pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
#set index
pokemons.set_index(['Name', 'Type 1'], inplace=True)
pokemons

,,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,Type 1,,,,,,,,,,,
Bulbasaur,Grass,1,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,2,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,3,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,3,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,4,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,719,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,719,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,720,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,720,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,721,Water,600,80,110,120,130,90,70,6,True

In [8]:
#returns index as a tuple
pokemons.index

MultiIndex([(                'Bulbasaur',   'Grass'),
            (                  'Ivysaur',   'Grass'),
            (                 'Venusaur',   'Grass'),
            (    'VenusaurMega Venusaur',   'Grass'),
            (               'Charmander',    'Fire'),
            (               'Charmeleon',    'Fire'),
            (                'Charizard',    'Fire'),
            ('CharizardMega Charizard X',    'Fire'),
            ('CharizardMega Charizard Y',    'Fire'),
            (                 'Squirtle',   'Water'),
            ...
            (                   'Noibat',  'Flying'),
            (                  'Noivern',  'Flying'),
            (                  'Xerneas',   'Fairy'),
            (                  'Yveltal',    'Dark'),
            (         'Zygarde50% Forme',  'Dragon'),
            (                  'Diancie',    'Rock'),
            (      'DiancieMega Diancie',    'Rock'),
            (      'HoopaHoopa Confined', 'Psychic'),
            (       'HoopaHoopa Unbound', 'Psychic'),
            (                'Volcanion',    'Fire')],
           names=['Name', 'Type 1'], length=800)

In [12]:
#use get_level_values method 
pokemons.index.get_level_values(1)

Index(['Grass', 'Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Fire',
       'Fire', 'Water',
       ...
       'Flying', 'Flying', 'Fairy', 'Dark', 'Dragon', 'Rock', 'Rock',
       'Psychic', 'Psychic', 'Fire'],
      dtype='object', name='Type 1', length=800)

In [18]:
#swap level method, swap index order
pokemons = pokemons.swaplevel()
pokemons

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1  Name
Grass   Bulbasaur                   65       65     45           1      False
        Ivysaur                     80       80     60           1      False
        Venusaur                   100      100     80           1      False
        VenusaurMega Venusaur      122      120     80           1      False
Fire    Charmander                  60       50     65           1      False
...                                ...      ...    ...         ...        ...
Rock    Diancie                    100      150     50           6       True
        DiancieMega Diancie        160      110    110           6       True
Psychic HoopaHoopa Confined        150      130     70           6       True
        HoopaHoopa Unbound         170      130     80           6       True
Fire    Volcanion                  130       90     70           6       True

[800 rows x 11 columns]

In [20]:
#sort values by Type 1
pokemons.sort_values('Type 1')

                   #    Type 2  Total   HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Name
Bug    Sewaddle  540     Grass    310   45      53       70       40       60
       Pinsir    127       NaN    500   65     125      100       55       70
       Burmy     412       NaN    224   40      29       45       29       45
       Scyther   123    Flying    500   70     110       80       55       80
       Joltik    595  Electric    319   50      47       50       57       50
...              ...       ...    ...  ...     ...      ...      ...      ...
Water  Totodile  158       NaN    314   50      65       64       44       48
       Basculin  550       NaN    460   70      92       65       80       55
       Vaporeon  134       NaN    525  130      65       60      110       95
       Panpour   515       NaN    316   50      53       48       53       48
       Chinchou  170  Electric    330   75      38       38       56       56

                 Speed  Generation  Legendary
Type 1 Name
Bug    Sewaddle     42           5      False
       Pinsir       85           1      False
       Burmy        36           4      False
       Scyther     105           1      False
       Joltik       65           5      False
...                ...         ...        ...
Water  Totodile     43           2      False
       Basculin     98           5      False
       Vaporeon     65           1      False
       Panpour      64           5      False
       Chinchou     67           2      False

[800 rows x 11 columns]

In [22]:
#select all grass pokemons
pokemons.loc['Grass']

,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Poison,625,80,100,123,122,120,80,1,False
Oddish,43,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Chespin,650,NaN,313,56,61,65,48,45,38,6,False
Quilladin,651,NaN,405,61,78,95,56,58,57,6,False
Chesnaught,652,Fighting,530,88,107,122,74,75,64,6,False
Skiddo,672,NaN,350,66,65,48,62,57,52,6,False
Gogoat,673,NaN,531,123,100,62,97,81,68,6,False

In [24]:
#select sepcific columns only
pokemons.loc['Grass', 'Attack']

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Oddish                    50
                        ...
Chespin                   61
Quilladin                 78
Chesnaught               107
Skiddo                    65
Gogoat                   100
Name: Attack, Length: 70, dtype: int64

In [30]:
#return from multiple indexes
pokemons.loc[('Grass', 'Bulbasaur')]

#                  1
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Name: (Grass, Bulbasaur), dtype: object

In [34]:
#return seleced columns for multiple index
pokemons.loc[('Grass', 'Bulbasaur'), ['Attack', 'Defense']]

Attack     49
Defense    49
Name: (Grass, Bulbasaur), dtype: int64

In [36]:
#return seleced columns for multiple index
pokemons.loc[('Grass', 'Bulbasaur'), 'Attack']

49

In [40]:
#using muliple indicies 
pokemons.loc[(['Grass', 'Fire'],['Bulbasaur', 'Litleo']), :]

,,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,Name,,,,,,,,,,,
Grass,Bulbasaur,1,Poison,318,45,49,49,65,65,45,1,False
Fire,Litleo,667,Normal,369,62,50,58,73,54,72,6,False