In [1]:
import pandas as pd

In [14]:
pokemons = pd.read_csv('Pokemon.csv', index_col='#')
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
#.str notation needs to be used to convert everythig to string before any opertauions, even strings need converting as 
# pandas see them as objects, only works on string values
pokemons['Name'].str.upper()

#
1                  BULBASAUR
2                    IVYSAUR
3                   VENUSAUR
3      VENUSAURMEGA VENUSAUR
4                 CHARMANDER
               ...
719                  DIANCIE
719      DIANCIEMEGA DIANCIE
720      HOOPAHOOPA CONFINED
720       HOOPAHOOPA UNBOUND
721                VOLCANION
Name: Name, Length: 800, dtype: object

In [20]:
pokemons['Name'].str.lower()

#
1                  bulbasaur
2                    ivysaur
3                   venusaur
3      venusaurmega venusaur
4                 charmander
               ...
719                  diancie
719      dianciemega diancie
720      hoopahoopa confined
720       hoopahoopa unbound
721                volcanion
Name: Name, Length: 800, dtype: object

In [24]:
#reverse strings
pokemons['Name'].str[::-1]

#
1                  ruasabluB
2                    ruasyvI
3                   ruasuneV
3      ruasuneV ageMruasuneV
4                 rednamrahC
               ...
719                  eicnaiD
719      eicnaiD ageMeicnaiD
720      denifnoC apooHapooH
720       dnuobnU apooHapooH
721                noinacloV
Name: Name, Length: 800, dtype: object

In [30]:
#filtering on contains a given letter, ignoring case or not
x_filter = pokemons['Name'].str.contains('q', case=False)
pokemons[x_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
284,Masquerain,Bug,Flying,414,70,60,62,80,82,60,3,False
384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
520,Tranquill,Normal,Flying,358,62,77,62,50,42,65,5,False
651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False

In [34]:
#filter is starts with, is case sensitive
name_filter = pokemons['Name'].str.startswith('Do')
pokemons[name_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
85,Dodrio,Normal,Flying,460,60,110,70,60,60,100,1,False
232,Donphan,Ground,NaN,500,90,120,120,60,60,50,2,False
680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False

In [44]:
#filter ends with, case sensitive
name_filter = pokemons['Name'].str.endswith('chu')
pokemons[name_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False

In [46]:
# .replace() to replace values
pokemons['Type 1'].str.replace('Grass', 'Vegan', regex=False)

#
1        Vegan
2        Vegan
3        Vegan
3        Vegan
4         Fire
        ...
719       Rock
719       Rock
720    Psychic
720    Psychic
721       Fire
Name: Type 1, Length: 800, dtype: object

In [52]:
#assig to column
pokemons['Type 1'] = pokemons['Type 1'].str.replace('Grass', 'Vegan', regex=False)
pokemons[pokemons['Type 1'] == 'Vegan']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Vegan,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Vegan,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Vegan,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Vegan,Poison,625,80,100,123,122,120,80,1,False
43,Oddish,Vegan,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
650,Chespin,Vegan,NaN,313,56,61,65,48,45,38,6,False
651,Quilladin,Vegan,NaN,405,61,78,95,56,58,57,6,False
652,Chesnaught,Vegan,Fighting,530,88,107,122,74,75,64,6,False
672,Skiddo,Vegan,NaN,350,66,65,48,62,57,52,6,False
673,Gogoat,Vegan,NaN,531,123,100,62,97,81,68,6,False

In [56]:
#Using .str on columns
pokemons.columns.str.upper()

Index(['NAME', 'TYPE 1', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE',
       'SP. ATK', 'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY'],
      dtype='object')

In [58]:
pokemons.columns = pokemons.columns.str.upper()
pokemons

,NAME,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
#,,,,,,,,,,,,
1,Bulbasaur,Vegan,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Vegan,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Vegan,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Vegan,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True